<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 px-lg-4" *ngIf="userLogin">
          <div>
            <div class="card-body p-lg-5">
              <h1>כניסה</h1>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-floating mb-3">
                  <input class="form-control" id="floatingInput" type="email" formControlName="email" placeholder="name@example.com" required>
                  <label for="floatingInput">כתובת מייל</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" id="floatingPassword" type="password" formControlName="password" placeholder="Password" required>
                  <label for="floatingPassword">סיסמא</label>
                </div>
                <button class="btn btn-primary" type="submit">היכנס</button>
              </form>
            </div>
            <div class="card-footer px-lg-5 py-lg-4">
              <div class="text-sm text-muted">אין לך עדיין חשבון? <a (click)="user_register()">הירשם</a>.</div>
            </div>
          </div>
        </div>
        <!-- register -->
        <div class="col-lg-6 px-lg-4" *ngIf="!userLogin">
          <app-register></app-register>
        </div>
      </div>
    </div>
  </div>