<div class="container">
    <button mat-raised-button (click)="createNewItem()">הוסף שולחן</button>

    <div class="example-boundary">
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag *ngFor="let item of items" (cdkDragEnded)="updateItemPosition(item, $event)">
            <div >
                <mat-icon> table_chart</mat-icon>
              </div>
              <div >
                {{ item.name }}
              </div>
        </div>
      </div>
      <button mat-raised-button (click)="saveTables()" style="margin-top: 20px;">שמור</button>

</div>

  
  