mat-form-field {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 5.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
    mat-form-field {
        width: 700px;
    }
}
mat-icon{
    margin-left: 1rem;
}
