a {
 display: block;
 height:6rem;
 width: 6rem;
 border-radius: 20px;
 background-color: cadetblue;
 display: flex;
 align-items: center;
 justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
span{
    color:#233251;
}