
  .menuList app-menu-card {
    margin-bottom: 20px;
  }
  
  
  .menuList {
    display: flex;
    flex-wrap: wrap; /* Add flex-wrap property to wrap the cards to the next row */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }
  
  .break {
    flex-basis: 100%; /* Force line break for the next row */
  }
  
  .menus-container {
    height: 100vh;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
  }
  