<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="text-center">צור תפריט</mat-card-title>
    <br>
    <br>
    <mat-card-content>
      <form [formGroup]="menuForm" (ngSubmit)="createMenu()">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label> שם תפריט</mat-label>
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>
        <br>
        <div class="form-group">
          <label for="logo">באפשרותך להעלות/לשנות קובץ תמונה (לוגו של המסעדה)</label>
          <input type="file" class="form-control-file" id="logo" (change)="onFileSelected($event)">
        </div>
        <br>
        <div class="login-button">
          <button mat-raised-button color="primary" type="submit">שלח</button>
        </div>
      </form>
    </mat-card-content>
    
  </mat-card>
</div>
