
<div class="register-container">
    <mat-card class="register-card">
      <mat-card-title class="text-center">הרשמה</mat-card-title>
      <br>
      <br>
      <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-group">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>כתובת מייל</mat-label>
              <input matInput type="email" formControlName="email" placeholder="name@example.com" required>
              <mat-error *ngIf="email?.touched">{{email?.errors?.['required'] ? 'שדה זה נדרש' : 'כתובת מייל לא תקינה'}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>טלפון</mat-label>
              <input matInput type="text" formControlName="phone" placeholder="phone" required>
              <mat-error *ngIf="phone?.touched">{{phone?.errors?.['required'] ? 'שדה זה נדרש' : 'מספר טלפון לא תקין'}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>שם</mat-label>
              <input matInput type="text" formControlName="name" placeholder="Username" required>
              <mat-error *ngIf="name?.touched">{{name?.errors?.['required'] ? 'שדה זה נדרש' : 'שם לא תקין'}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>סיסמא</mat-label>
              <input matInput type="password" formControlName="password" placeholder="Password" required>
              <mat-error *ngIf="password?.touched">{{password?.errors?.['required'] ? 'שדה זה נדרש' : 'סיסמא לא תקינה'}}</mat-error>
            </mat-form-field>
          </div>
          <div class="register-button">
            <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">שלח</button>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="login-link">
          ?יש לך כבר חשבון
          <a [routerLink]="['../login']" mat-button class="btn btn-link">היכנס</a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  