.departmentsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .departmentsList app-department-card {
    margin-bottom: 20px;
  }
  .departments-container {
    height: 100vh;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
  }