<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 px-lg-4">
                <div class="card-body p-lg-5">
                    <h1>הזן/עדכן פרטי מסעדה</h1>
                    <form [formGroup]="restForm" (ngSubmit)="isRestaurantExixst ? updateRest() : addRest()">

                        <div class="form-floating mb-3">
                            <input formControlName="name" type="text" class="form-control" id="restaurantName"
                                placeholder='שם מסעדה' value="restaurant.name">
                            <label for="restaurantName">שם מסעדה</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input formControlName="street" type="text" class="form-control" id="street"
                                placeholder="רחוב">
                            <label for="street">רחוב</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input formControlName="city" type="text" class="form-control" id="city" placeholder="עיר">
                            <label for="city">עיר</label>
                        </div>
                        <div class="form-floating mb-3">

                            <input formControlName="phone" type="text" class="form-control" id="phone"
                                placeholder="טלפון">
                            <label for="phone">טלפון</label>
                        </div>
                        <div class="form-floating mb-3">

                            <input formControlName="kashrut" type="text" class="form-control" id="kashrut"
                                placeholder="כשרות">
                            <label for="kashrut">כשרות</label>
                        </div>
                        <div class="form-floating mb-3">

                            <input formControlName="type" type="text" class="form-control" id="type"
                                placeholder="סוג מסעדה">
                            <label for="type">סוג מסעדה(חלבי/בשרי/דגים)</label>
                        </div>
                        <div class="form-group">
                            <label for="logo">באפשרותך להעלות/לשנות קובץ תמונה(לוגו של המסעדה)</label>
                            <input  type="file" class="form-control-file" id="logo"  (change)="onFileSelected($event)">
                        </div>
                        <div *ngIf="logoUrl" class="logo">
                            <img [src]='logoUrl' height="80px" width="80px">
                        </div>
                        <div class="form-group submit">
                            <button class="btn btn-primary" id="addRest" type="submit"
                                name="addRestSubmit">הוסף/עדכן</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>