<mat-toolbar class="toolbar">
  <mat-toolbar-row>
   
    <span *ngIf="!isPhoneScreen; else phoneContent"></span>
    <a mat-button routerLink="/basket" *ngIf="!isPhoneScreen">
      <mat-icon>shopping_cart</mat-icon>
      <span class="badge" *ngIf="basketQuantity > 0">{{ basketQuantity }}</span>
    </a>
    <span class="spacer"></span>

    <a mat-button routerLink="/" *ngIf="!isPhoneScreen">
      <mat-icon>home</mat-icon>
    </a>
    <div *ngIf="!isPhoneScreen">
      <a mat-button routerLink="/owner" *ngIf="isAuth">
        <mat-icon>account_circle</mat-icon>
      </a>
    </div>

    <span class="spacer"></span>
    <div *ngIf="!isPhoneScreen">
      <span *ngIf="isAuth; else phoneContent2" class="phone-content">
        <span>{{ userName}}</span>
        <button mat-icon-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </span>
    </div>



    <ng-template #phoneContent>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <a mat-list-item> <mat-icon>home</mat-icon></a> Home
        </button>
        <button mat-menu-item routerLink="/owner" *ngIf="isAuth">
          <a mat-list-item> <mat-icon>account_circle</mat-icon></a> Account
        </button>
        <button mat-menu-item (click)="logout()" *ngIf="isAuth else phoneContent3">
          <a mat-list-item> <mat-icon>exit_to_app</mat-icon></a> LogOut
        </button>
      </mat-menu>

    </ng-template>
    <a *ngIf="isPhoneScreen" mat-button routerLink="/basket">
      <mat-icon>shopping_cart</mat-icon>
      <span class="badge" *ngIf="basketQuantity > 0">{{ basketQuantity }}</span>
    </a>

    <ng-template #phoneContent2>
      <a href="/login" style="color: black; text-decoration: none;">היכנס</a>
    </ng-template>

    <ng-template #phoneContent3>
      <button mat-menu-item routerLink="/login">
        <a mat-list-item> <mat-icon>account_circle</mat-icon></a> Account
      </button>
    </ng-template>
  </mat-toolbar-row>

</mat-toolbar>



<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item>Account</a>
      <a mat-list-item>LogOut</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100vh;"></div>
  </mat-sidenav-content>
</mat-sidenav-container> -->